body{
    font-size: 14px;
    font-style: normal;
    color: #f4f4f4;
    font-family: 'TBC X';
}

[class*='__container'] {
    max-width: 980px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.trn-text{
    transition: color .4s ease;
}

.header{
    background-color: #1a1e1f;
    height: 84px;
    /* position: fixed; */
    width: 100%;
    line-height: 26px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo{
    width:182px;
    height: 40px;
}

.header-logo img{
    max-width: 100%;
    height: 100%;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-list a {
    color: #f4f4f4;
    padding:  0 20px;
}

.nav-list a:hover{
    color: #00a3e0;
}


.banner-foto{
    max-width: 100%;
}

.course_description{
    background-color:#2B2B2B;
    padding: 55px 0;
   
}

.course_description h1 {
    font-size: 28px;
    line-height: 45px;
    padding:  0 0 50px 0;
    font-weight: 400;
}

.course_description a{
    color: #00aef3;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.course_description a:hover{
    color: #aaaaaa;
}


.courses_list{
    padding: 34px 0 58px 0;
    background-color: #161616;
}

.courses_list__container > h4{
    margin-bottom: 65px;
    font-size: 24px;
    color: #dbdbdb;
}


.courses{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    row-gap: 25px;
    column-gap: 25px;

}

.courses_item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(85, 85, 85, 1);
    border-radius: 6px;
}

.courses_item_description{
    display: flex;
    flex-direction: column;
    padding: 35px 22px 20px;
    gap: 25px;
}

.courses_item_img{
    max-width: 100%;
}

.courses_item_description > h5{
    font-size: 18px;
    line-height: 29px;
}

.courses_item_description > p{
    line-height: 22px;
}

.courses_item_description_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    padding-top: 80px;
}

.courses_item_description_details > img{
    width: 16px;
    height: 13px;
    margin-top: 5px;
}

.courses_item_description_details > a{
    color: #00aeef;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    border: 2px;
}

.courses_item_description_details > a:hover{
    color: #0080b0;
}

.partners{
    background-color: #2B2B2B;
}


.questions{
    background-color:#161616;
}

.faq{
    display: flex;
    justify-content: space-between;
}



.footer{
    padding: 65px 0 45px;
    background-color: #1A1E1F;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 300px;
    row-gap: 27px;
}


.footer-logo {
    width: 105px;
}

.sc-media-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.meida-logoes {
    width: 40px;
    display: flex;
    gap: 10px;
}
.send-email-btn {
}
.copy-rules {
    display: flex;
    flex-direction: column;
    gap: 17px;

}
.rules {
}
